html {
    height: 100%;
}
 
body{
    background-color: hsl(216, 12%, 8%);
}
.rating {
    background-color: hsl(213, 19%, 18%);
}
.numbers{
    text-align: center;
}
h1{
    color:hsl(0, 0%, 100%);
}
p, h3{
    color: hsl(216, 12%, 54%);
}
h2{
    color: hsl(25, 97%, 53%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

